
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* NAVBAR MENU */
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white !important;
    

}

.list-item-ul{
    display: flex;
    margin-left: auto;
    list-style-type: none;
    margin-right: 100px;
    
    
}
.list-item-ul li{
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;

}
.list-item-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.list-item-div{
    position: absolute;
    top: 60px;
    width: 150px;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    box-shadow:-.1rem .1rem 1rem .1rem rgb(0 0 0 / 8%);
    display: none;
}
.list-item-destinations{
   display: flex;
   align-items: center;
   flex-direction: column;
}
.list-item-destinations li{
    list-style-type: none;
    padding: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;

    
} 
.click-destinations button{
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    border: 0;
    font-size: 16px;
    
}
.click-destinations button:focus + .list-item-div{
    display: block;


}
.list-item-destinations-link{
    text-decoration: none;
    color: black;
}

#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ffffff;
}

#scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #ffffff;
}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #d6d6d6;
}
nav > .nav-btn,#nav-check {
    display: none;
  }
  
.black{
    position:fixed;
    top:0;
    background:#8673c500;
    z-index: 222;
   
}


.logo {
    display: flex;
    align-items: center;
   
}

nav img {
    margin-left: 60px;
    width: 80px;

}



.logo h1 {
    
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 183, 255);
    font-weight:600px;


}

.site-conten-header{
    width: 100%;
    height: 600px;
    background-image: url("../img/registon2.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;

}
.site-conten-header-toshkent{
    width: 100%;
    height: 600px;
    background-image: url("../img/Tashkent.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.site-conten-header-nukus{
    width: 100%;
    height: 600px;
    background-image: url("../img/nukusbg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.site-conten-header-qarshi{
    width: 100%;
    height: 600px;
    background-image: url("../img/qarshibg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.site-conten-header-xiva{
    width: 100%;
    height: 600px;
    background-image: url("../img/xiva.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.site-conten-header-navoiy{
    width: 100%;
    height: 600px;
    background-image: url("../img/navoiybg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.site-conten-header-termiz{
    width: 100%;
    height: 600px;
    background-image: url("../img/Termezbg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.site-conten-header-buxoro{
    width: 100%;
    height: 600px;
    background-image: url("../img/buxorobg.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}
.ite-content-header-text{
    position: absolute;
    z-index: 222;
    /* text-align: center; */
}
.site-content-header-text h1{
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    color: #ffffffad;
}
.site-content-header-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffffff;;
}
.text-palce{
    /* text-align: center; */
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 25px;
    
   

}
.text-palce:hover{
  color: #00cece;
  transition: all .2s;
}
.site-header-container {
    width: 80%;
    margin: 0 auto;
    
   
  }
  .span-place-text{
    font-size: 18px;
  }
  .site-header-content{
   
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(265px, 2fr));
    grid-gap: 30px;
  }

  article {
    position: relative;
    display: flex;
    border: 0 solid #dfe2e5;
    box-shadow:-.1rem .1rem 1rem .1rem rgb(0 0 0 / 8%);
    border-radius: 10px;
    background-color: #fff;
    box-sizing: border-box;
    flex-direction: column;
    transition: box-shadow .3s ease-in-out,transform .2s ease-out;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 5px 20px 0 rgba(81, 185, 203, 0.5);
    


  }
  article:hover{
    box-shadow:-.1rem .1rem 1rem .1rem rgba(0, 0, 0, 0.603);
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 5px 20px 0 rgba(0, 217, 255, 0.803);
    transition: all .5s;

  }

  .pic-wrap {
    width: 100%;
    padding-bottom: 55.3%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15%;
    background-color: #edeff1;
    background-blend-mode: multiply;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
  .pic {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-duration: .6s;

   

}
.pic:hover{
    transform: scale(1.2);
    transition-duration: .4s;
}
.rdt-card-content {
    padding: 0 18px;
    flex-direction: column;
    flex: 1 1 auto;
    display: flex;
    line-height: 40px;
}
.oneDay{
    font-size: 12px;
    font-weight: 400;
    color: #00cece;
    
}
.city-name{
    border-left: 1px solid rgba(0, 0, 0, 0.152);
    color: #3a3a45;
    font-family: 400;
    
}

.comment{
    line-height: 15px;
    width: 100%;
  
    margin-top: 10px;
    font-size: 12px;
    
}
.content-user-expert{
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.152);
    padding: 10px 0;
    display: flex;

    
}
.content-user-expert img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 5px;

}
.content-user-name {
    display: flex;
    align-items: center;
    max-width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
}
.content-user-job{
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.oneDay-hotel{
    line-height: 15px;
    font-weight: 400;
    padding-top: 5px;
}
.oneDay-hotel i{
    color: red;
}
.site-footer{
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #e6e9e93f;
    padding-left:  100px;
    padding-top:  30px;
    border-top: 1px solid rgba(0, 0, 0, 0.152);
    padding-bottom: 40px;
   

}
.site-fopter-page1{
    width: 90%;
   
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 2fr)); 

    grid-gap: 16px;
}
.site-footer-grid-page h4{
   font-size: 16px;
   font-family: 'Poppins', sans-serif;
   

}
.site-footer-grid-page .logo img{
    
    width: 80px;
}
.site-footer-grid-page .logo h1{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 183, 255);
    font-size: 25px;
    font-weight:600px;
}

.site-footer-discover{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-top: 20px;

}
.list-footer-item-li{
    list-style-type: none;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    
}
.list-footer-item-li:hover{
    color: #00cece;
    cursor: pointer;
    transition: all .2s;
}

 #text
{
    position: absolute;
    text-align: center;
    width: 100%;

    z-index: 5;
    transform: translate(0,300px);
    /* font-size: 120px; */
    font-family: 'Poppins', sans-serif;
    /* line-height: 160px; */
    text-transform: capitalize;
    color: #ffffffa1;
    

}




/*=============== view  html ===================== */
 .site-heder-content-view{
    width: 98%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    padding: 10px;
   
 }
 .site-heder-content-view-img{
    background-color: rgb(255, 255, 255);
    box-shadow:-.1rem .1rem 1rem .1rem rgba(0, 0, 0, 0.193);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
    /* position: relative; */
    

 }

 .img-page{
    width: 100%;
    padding-bottom: 55.3%;
    position: relative;
    height: auto;
    background-color: #0080ff;
    background-blend-mode: multiply;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
   

    
 }
 .img-page img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition-duration: .6s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 

 .site-heder-content-view-map{
    /* background-color: #00cece; */
 }

 .site-heder-content-view-map iframe{
    width: 100% !important;
    overflow-y:auto !important;
    height:100vh !important;
 }

 .sticky{
    position:fixed;
    top: 0;
    right: 0;
    width: 57%;
    z-index: 1;
}

.user-profil{
    width: 360px;
    height: 120px;
    border-radius: 10px;
   
    margin: 50px;   
    display: flex;
    align-items: center;
    /* justify-content:center; */
    padding-left: 20px;
    border: 1px solid rgba(2, 98, 122, 0.203);
    /* box-shadow: 0 5px 20px 0 rgba(81, 185, 203, 0.5); */


}
.user-profil img{
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
}
.text-user h2, p{
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}
.card-content{
    padding-bottom: 30px;
}
.card-content h3{
    font-family: 'Poppins', sans-serif;

}
.card-content p{
    color: #3a3a45;
    font-weight: 400;
    line-height: 20px;
}
@media screen and (max-width: 777px){

    nav{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        
    
    }
    
    .list-item-ul{
        display: flex;
        margin-left: auto;
        list-style-type: none;
        margin-right: 50px;
        
        
    }
    .list-item-ul li{
        padding: 15px;
        color: rgb(0, 0, 0);
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    
    }
    .list-item-link{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 13px;
    }

    nav img {
        margin-left: 40px;
        width: 50px;
    
    }
    .logo h1 {
    
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 183, 255);
        font-weight:600px;
        font-size: 18px;
    
    
    }
}


@media screen and (max-width: 700px){
    .site-heder-content-view{
        width: 98%;
        height: auto;
        background-color: rgb(255, 255, 255);
        margin: 30px auto;
        display: grid;
        grid-template-columns: auto;
        padding: 10px;
       
     }
     .sticky{
        position:relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 300px;
        z-index: 1;
       

    }
    .site-heder-content-view-map{
        padding: 20px;
        /* background-color: #00cece; */
        border-radius: 20px;

     }
    .site-heder-content-view-map iframe{
        width: 100% !important;
        overflow-y:auto !important;
        height: 300px !important;
        border-radius: 20px;
     }
     .site-content-viev-img-page{
        order: 2;

     }
     .site-content-viev-map-page{
        order: 1;
        margin-bottom: 20px;
     }

}



/* responseve 600px */
@media screen and (max-width: 600px){
    nav{
        width: 100%;
        height: 80px;
        display: flex;
        background-color: white;
        align-items: center;
        
    
    }
    
    .list-item-ul{
        display: flex;
        margin-left: auto;
        list-style-type: none;
        margin-right: 50px;
        display: none;
        
        
    }
    .list-item-ul li{
        padding: 15px;
        color: rgb(0, 0, 0);
        font-size: 13px;
      

        font-family: 'Poppins', sans-serif;
    
    }
    /* .list-item-link{
        text-decoration: none;
        color: white;
        font-size: 13px;
    } */

    nav img {
        margin-left: 40px;
        width: 50px;
    
    }
    .logo h1 {
    
        font-family: 'Poppins', sans-serif;
        color: rgb(0, 183, 255);
        font-weight:600px;
        font-size: 18px;
    
    
    }

    nav > .nav-btn {
        display: inline-block;
        margin-left: auto;
        
        
      }
      nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
      nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        /* background-color: rgba(0, 0, 0, 0.3); */
      }
      nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgb(0, 0, 0);
      }
   
      nav > .list-item-ul {
        position:absolute;
        display: block;
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 80px;
        left: 0px;
        z-index: 100000;
        
      }
       .list-item-link{
          color: black !important;
      }
      nav > .list-item-ul > li {
        display: block;
        width: 100%;
      }
      nav > #nav-check:not(:checked) ~ .list-item-ul {
        height: 0px;
      }
      nav > #nav-check:checked ~ .list-item-ul {
        height: calc(100vh - 50px);

        overflow-y: auto;
      }
      .site-content-header-text h1{
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        color: #ffffffad;
    }
    .site-content-header-text p{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #ffffff;;
    }
    


      
    
}
